body {
    background-color: bisque;
    border: 2px solid red;
    border-radius: 10px;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
}
p {
    color:gold;
    background-color: black;
}
pre {
    color: brown;
    background-color: aqua;
}
p:hover,pre:hover{
    transform: translateX(40px);
    cursor:ne-resize;

}
h1 {
    color: red;
    background-color: yellow;
    animation: infinite 5s linear;
}
@keyframes h1{
    100%{transform:translateX(800px)}
}
